<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Share Now</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('nav.ejs') %>
    <div class="img-container">
      <img src="/qr.png " alt="<%=portInfo %>" />
      <p href="<%=portInfo %>"><%=portInfo %></p>
    </div>
    <div class="text">
      <ul>
        <li>
          Make sure that sender and receiver both connected through hotspot/same
          wifi network.
        </li>
        <li>Scan the QR or enter the above address into a web browser.</li>
      </ul>
    </div>
  </body>
</html>
